* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  text-align: center;
  --brown-color: #594d49;
  --brown-color-border: #645f57;
  --box-shadow: inset 0 0 20px 5px rgba(255, 255, 255, 0.4), 2px 2px 4px 4px rgba(0, 0, 0, 0.25);
  --blur-color: #193f50;
}

a {
  text-decoration: none;
  color: inherit;
}

.class-box {
  background-color: #594d49;
  border: 5px solid #645f57;
  box-shadow: inset 0 0 20px 5px rgba(255, 255, 255, 0.4), 2px 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.html {
  background-color: #e1edf8;
  padding: 20px 40px;
}

.title {
  font-size: 6vw;
  font-family: "Wellfleet", serif;
  margin: 0;
  filter: drop-shadow(0 5px 2px rgba(155, 135, 26, 0.5)) drop-shadow(0 -5px 2px rgba(156, 53, 21, 0.5))
    drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

/* FADE-IN VIEWPORT */

.fade-in {
  opacity: 0;
  transform: translateY(50px) scale(0.9);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}

/* INFORMATION */
.info {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  background-color: var(--blur-color);
  padding: 70px 10px;
  position: relative;
}

.networks-links {
  position: absolute;
  width: 12%;
  bottom: 7%;
  right: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.networks {
  width: 100%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  transition: transform 0.3s ease;
  -webkit-user-drag: none;
  user-select: none;
}

.networks:hover {
  animation: girarInfinito 0.5s infinite ease-in-out;
}

.networks:active {
  animation: none;
  transform: scale(0.95);
  transition: transform 0.3s ease;
}

@keyframes girarInfinito {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3%);
  }
  100% {
    transform: translateY(0);
  }
}

.description {
  font-family: "Wellfleet", serif;
  padding: 10px;
  margin-right: 10px;
  text-align: start;
}

.description :first-child {
  font-size: 5vw;
}

.description p {
  font-size: 1.5vw;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.box-img {
  width: 40%;
  padding: 20px 10px;
  margin-bottom: 20px;
}

.img {
  width: 70%;
  filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.25));
  -webkit-user-drag: none;
  user-select: none;
}

.slime-animation {
  animation: Slime 1s forwards;
}

@keyframes Slime {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.8) scaley(1.2);
  }
  50% {
    transform: scale(1.2) scaley(0.8);
  }
  75% {
    transform: scale(0.9) scaley(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* PROYECTS */
.proyect {
  margin-top: 100px;
  padding: 20px;
  background-color: #524a35;
}

.proyect-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 20px 10px;
  gap: 50px;
  margin: 30px 0;
  flex-wrap: wrap;
}

.proyect-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 450px;
  border: 2px solid #9c9376;
  background-color: #948e79;
  border-radius: 2px;
  box-shadow: inset 0 0 80px 20px #332d1c, 0 0 10px 0 rgba(0, 0, 0, 0.6);
  position: relative;
  color: #372a25;
  transition: all 0.5s ease;
  flex: 0 0 300px;
  cursor: default;
}

.proyect-list:has(.proyect-item:hover) .proyect-item:not(:hover) {
  filter: opacity(0.4);
}

.proyect-item:hover {
  transform: translateY(-2%);
}

.proyect-item h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-family: "DM Serif Display", serif;
  font-size: 45px;
  line-height: 40px;
}

.proyect-item p {
  text-align: start;
  font-family: "Share Tech", sans-serif;
  height: 120px;
  overflow-y: scroll;
  font-size: 15px;
  line-height: 15px;
  width: 85%;
  scrollbar-width: none;
}

.proyect-preview {
  width: 80%;
  height: 30%;
  border: 2px solid var(--brown-color-border);
  margin-bottom: 20px;
  border-radius: 10px;
  object-fit: cover;
  filter: grayscale(0.9);
  -webkit-user-drag: none;
  user-select: none;
}

.proyect-links a {
  display: flex;
  width: 100%;
}

.proyect-links {
  position: absolute;
  text-align: center;
  bottom: 10px;
  display: flex;
  gap: 20px;
}

.links {
  color: #332d1c;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
  transition: all 0.3s ease;
  fill: transparent;
}

.links:hover {
  fill: #332d1c7e;
  transform: scale(1.1);
}

.links:active {
  transform: scale(0.95);
}

/* TECNOLOGIES */

.tecnologies {
  margin-top: 100px;
  background-color: rgb(26, 85, 77);
  padding: 20px 130px;
}

.tecno-text {
  margin-bottom: 30px;
  filter: drop-shadow(0 5px 2px rgba(109, 143, 18, 0.5)) drop-shadow(0 -5px 2px rgba(80, 21, 156, 0.5))
    drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

.tecno-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.tecno-list {
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 25px;
  outline-offset: 4px;
  outline: 2px solid rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 0 50px 5px rgba(255, 255, 255, 0.25);
  overflow: hidden;
  transition: all 0.3s ease;
}

.tecno-list:hover {
  outline-offset: 0px;
}

.tecno-img {
  width: 90px;
  height: 90px;
  transition: all 0.3s ease;
  -webkit-user-drag: none;
  user-select: none;
}

.tecno-list:hover .tecno-img {
  transform: translateY(-15%);
}

.tecno-description {
  position: absolute;
  bottom: -20%;
  padding: 1px 4px;
  transition: all 0.3s ease;
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.5));
}

.tecno-description p {
  font-size: 16px;
  font-family: "Share Tech", sans-serif;
}

.tecno-list:hover .tecno-description {
  bottom: 7%;
}

/* FOOTER */

.footer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.credits {
  font-size: 20px;
  font-family: "DM Serif Display", serif;
  font-weight: 700;
  color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25)) drop-shadow(0 0 5px rgba(0, 0, 0, 0.25))
    drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
}

.credits img {
  width: 100px;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.25)) drop-shadow(0 0 1px rgba(0, 0, 0, 0.25))
    drop-shadow(0 0 1px rgba(0, 0, 0, 0.25));
}

.logo {
  width: 100%;
  height: 70px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5)) drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo::after,
.logo::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 10%;
  top: 50%;
  border-radius: 5px;
  background-color: #ccbf92;
}

.logo::before {
  left: 0%;
}

.logo::after {
  right: 0%;
}

.logo-img {
  width: 30%;
  -webkit-user-drag: none;
  user-select: none;
}

/* MEDIA QUARIES */

@media (max-width: 768px) {
  /* INFORMATION */
  .info {
    flex-direction: column;
    padding: 10px 10px 80px 10px;
  }

  .box-img {
    padding: 0;
  }

  .img {
    width: 100%;
    margin-left: 20px;
    transform: rotateY(180deg);
  }

  .networks-links {
    width: 20%;
    bottom: -3%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .description :first-child {
    font-size: 6vw;
    margin-bottom: 10px;
  }

  .description {
    margin-bottom: 5%;
    margin-right: 0;
  }

  .description p {
    text-align: center;
    font-size: 2.5vw;
  }

  /* PROYECTS */
  .title {
    font-size: 12vw;
  }

  /* TECNOLOGIES */
  .tecnologies {
    padding: 30px;
  }

  .tecno-container {
    gap: 50px;
  }

  .tecno-text {
    text-align: center;
  }

  .tecno-list {
    width: 50px;
    height: 50px;
    overflow: visible;
  }

  .tecno-img {
    width: 50px;
    height: 50px;
  }

  .tecno-description {
    bottom: -35%;
    width: 150px;
  }

  .tecno-description p {
    font-size: 15px;
    bottom: -30%;
  }

  .tecno-list:hover .tecno-description {
    bottom: -35%;
  }

  .tecno-list:hover .tecno-img {
    transform: none;
  }
}
