* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  text-align: center;
  --brown-color: #594d49;
  --brown-color-border: #645f57;
  --box-shadow: inset 0 0 20px 5px rgba(255, 255, 255, 0.4), 2px 2px 4px 4px rgba(0, 0, 0, 0.25);
  --blur-color: #193f50;
}

.class-box {
  background-color: #594d49;
  border: 5px solid #645f57;
  box-shadow: inset 0 0 20px 5px rgba(255, 255, 255, 0.4), 2px 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.html {
  background-color: #e1edf8;
  padding: 20px;
}

.title {
  font-size: 6vw;
  font-family: "Wellfleet", serif;
  margin: 0;
  filter: drop-shadow(0 5px 2px rgba(155, 135, 26, 0.5)) drop-shadow(0 -5px 2px rgba(156, 53, 21, 0.5))
    drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

/* NAVIGATION */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.logo {
  position: sticky;
  width: 30%;
  height: 70px;
}

.logo-img {
  width: 90%;
  height: 60px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 70px;
}

.nav-item {
  padding: 10px 2.7vw;
  font-size: 2.2vw;
  font-family: "REM", sans-serif;
  font-weight: 500;
  color: #d0edf5;
}

/* INFORMATION */
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blur-color);
  padding: 40px 0;
}

.info-img {
  width: 40%;
}

.description {
  font-family: "Wellfleet", serif;
  padding: 20px;
  text-align: start;
}

.description :first-child {
  font-size: 5vw;
}

.description p {
  font-size: 1.5vw;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.box-img {
  width: 40%;
  padding: 20px 10px;
  margin-bottom: 20px;
}

.img {
  width: 70%;
  filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.25));
}

/* PROYECTS */
.proyect {
  margin-top: 50px;
  padding: 20px;
  background-color: #524a35;
}

.proyect-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 50px;
  margin: 30px 0;
  flex-wrap: wrap;
}

.proyect-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 450px;
  border: 2px solid #9c9376;
  background-color: #948e79;
  border-radius: 2px;
  box-shadow: inset 0 0 80px 20px #332d1c, 0 0 10px 0 rgba(0, 0, 0, 0.6);
  position: relative;
  color: #372a25;
  transition: all 0.5s ease;
}

.proyect-list:has(.proyect-item:hover) .proyect-item:not(:hover) {
  filter: opacity(0.4);
}

.proyect-item:hover {
  transform: translateY(-2%);
}

.proyect-item h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-family: "DM Serif Display", serif;
  font-size: 45px;
  line-height: 40px;
}

.proyect-item p {
  text-align: start;
  font-family: "Share Tech", sans-serif;
  height: 120px;
  overflow-y: scroll;
  font-size: 15px;
  line-height: 15px;
  width: 85%;
  scrollbar-width: none;
}

.proyect-preview {
  width: 80%;
  height: 30%;
  border: 2px solid var(--brown-color-border);
  margin-bottom: 20px;
  border-radius: 10px;
  object-fit: cover;
  filter: grayscale(0.9);
}

.proyect-links a {
  display: flex;
  width: 100%;
}

.proyect-links {
  position: absolute;
  text-align: center;
  bottom: 10px;
  display: flex;
  gap: 20px;
}

.links {
  color: #332d1c;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
  transition: all 0.3s ease;
  fill: transparent;
}

.links:hover {
  fill: #332d1c7e;
  transform: scale(1.1);
}

/* TECNOLOGIES */

.tecnologies {
  margin-top: 50px;
  background-color: rgb(26, 85, 77);
  padding: 50px 130px;
}

.tecno-text {
  margin-bottom: 30px;
  filter: drop-shadow(0 5px 2px rgba(109, 143, 18, 0.5)) drop-shadow(0 -5px 2px rgba(80, 21, 156, 0.5))
    drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

.tecno-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.tecno-list {
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 25px;
  outline-offset: 4px;
  outline: 2px solid rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 0 50px 5px rgba(255, 255, 255, 0.25);
  overflow: hidden;
  transition: all 0.3s ease;
}

.tecno-list:hover {
  outline-offset: 0px;
}

.tecno-img {
  width: 90px;
  height: 90px;
  transition: all 0.3s ease;
}

.tecno-list:hover .tecno-img {
  transform: translateY(-15%);
}

.tecno-description {
  position: absolute;
  bottom: -20%;
  padding: 1px 4px;
  transition: all 0.3s ease;
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.5));
}

.tecno-description p {
  font-size: 16px;
  font-family: "Share Tech", sans-serif;
}

.tecno-list:hover .tecno-description {
  bottom: 7%;
}
